
.App {
  text-align: center;
}

/* .row > div{
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid grey;
} */

.row > div{
  padding: 0;
}

.row {
  /* border: 10px; */
  margin:0px;
  overflow:hidden;
  /* border-radius: 10px; */
}

/* body {
  width: 1500px;
  background-color: red;
}

.container {
  width: 100%;
} */
